@use 'base/variables' as var;
@use 'base/mixins' as mix;

.actions {
    margin-top: 5rem;

    @include mix.tablet { 
        display: flex;
        justify-content: space-between;
    }

    a {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        color: var.$black;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}