@use 'base/variables' as var;
@use 'base/mixins' as mix;

.bar {
    background-color: var.$white;
    padding: 1rem 2rem;
    box-shadow: 1px 12px 9px -13px rgba(0, 0, 0, .4);

    @include mix.tablet { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        margin: 0;
        font-size: 1.4rem;

        span {
            font-weight: 700;
            color: var.$indigo;
        }
    }

    .close-session {
        @include mix.button(darken(var.$indigo, 20%), var.$white);
        font-size: 1.4rem;
        padding: 1rem;
        border-radius: .5rem;
    }
}